<div *ngIf="config.initialized">
  <div *ngIf="!http.isAuthenticated()">
    <or-userlogin (update)="getTask()"></or-userlogin>
  </div>
  <div *ngIf="http.isAuthenticated()">

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <h3 align="center">OpenTasks</h3>
      </div>
    </div>
    <div *ngIf="task">
      <or-mathjax class="row panel panel-default min-sized" [MathJax]="task.mathjax"></or-mathjax>
      <div class="row" *ngIf="!answer || answer==''">-</div>
      <div class="row">
        <or-mathjax [MathJax]="answer" [ngClass]="valid? 'correct':'false'"></or-mathjax>

      </div>

      <div class="row" *ngIf="task.formType=='Text'">
        <input type="text" id="answer" class="form-control" [(ngModel)]="answer">
      </div>
      <div class="row" *ngIf="task.formType=='Zahlen'">
        <or-numberform [(answer)]="answer" [(valid)]="valid"></or-numberform>
      </div>
      <div class="row" *ngIf="task.formType=='Matrix'">
        <or-matrixform [(answer)]="answer" [(valid)]="valid"></or-matrixform>
      </div>
      <div class="row" *ngIf="task.formType=='Dezimal'">
        <or-dezimalform [(answer)]="answer" [(valid)]="valid"></or-dezimalform>
      </div>
      <div class="row" *ngIf="task.formType=='Bruch'">
        <or-fractureform [(answer)]="answer" [(valid)]="valid"></or-fractureform>
      </div>



      <div class="row spaced">
        <or-progressbar [max]="tasksCorrect+tasksWrong" [actual]="tasksCorrect"></or-progressbar>
        <div *ngIf="averageTime">Die durchschnittliche Bearbeitungszeit beträgt {{averageTime | number: '1.2-2'}} Sekunden</div>
      </div>
      <button type="button" class="btn btn-primary" (click)="send()">Send</button>
    </div>

    <div *ngIf="!task" class="row">Keine Aufgabe gefunden..</div>

    <button type="button" class="btn btn-danger" (click)="getTask()">Refresh</button>

    <div class="row">
      <h3 align="center" [ngClass]="messageRed? 'false':'correct'" [class.show]="message" class="step">{{message}}</h3>

    </div>
  </div>
</div>
